* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

.border_box {
    border: 2px solid #2196f3;
    padding: 10px;
}

.logo {
    border: 2px solid #2196f3;
    border-radius: 50%;
}