* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

.border_box {
    border: 2px solid #2196f3;
    margin-bottom: 10px;
    padding: 10px;
}
ul {
    padding-left: 20px;
}

.layout-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 10px;
}
.layout-side {
    width: 20%;
}
.layout-main {
    flex: 1;
    width: 80%;
}
@media screen and (max-width: 500px) {
    .layout-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        gap: 10px;
    }
    .layout-side {
        width: 100%;
    }
    .layout-main {
        flex: 1;
        width: 100%;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.card {
    width: 300px;
    height: 200px;
    border: 2px solid #f3b121;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    position: relative;
    z-index: 100;
    width: 64px;
    height: 64px;
    border: 2px solid #2196f3;
    border-radius: 50%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}